.sectionFondo{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: url(../assets/fondo.jpg);
}

.box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.box2{
    color: white;
    font-size: 26px;
    margin: 60px;
    
}

.box2 img{
    width: 300px;
}


.section{
    width: 100%;
    height: 100%;
}

.section h2{
    font-size: 38px;
    padding: 50px;
    text-align: center;
    
}

.article{
    text-align: center;
    font-size: 24px;
    margin: 80px;
    
}


@media only screen and (max-width: 800px) {
    .box2 {
        font-size: 20px; /* Reducir el tamaño de fuente */
        margin: 30px; /* Reducir el margen */
    }

    .box2 img {
        width: 200px; /* Reducir el tamaño de la imagen */
    }

    .section h2 {
        font-size: 28px; /* Reducir el tamaño de fuente */
        padding: 20px; /* Reducir el relleno */
    }

    .article {
        font-size: 20px; /* Reducir el tamaño de fuente */
        margin: 40px; /* Reducir el margen */
    }
}





